@keyframes  width{
  0%{width: 0;} 
  100%{width: 100%;}
}

@keyframes fadeInDown {
  0% {
      opacity: 0;
      transform: translateY(-10%);
  }
  100% {
      opacity: 1;
      transform: translateY(0%);
  }
}