.ateliere{
  &__top{
    text-align: center;
    max-width: 800px;
    margin: 50px auto 120px;
  }
 
  &__post{
    width: 33.33%;
    padding: 0 8px ;
    margin-bottom: 18px;
    a{
      display: block;
      height: 100%;
      padding: 15px;
      border: 1px solid #E2E5E9;
      text-align: center;
      border-radius: 30px;
    }
    h4{
      font-size: 1.8rem;
      padding:  15px 35px  ;
      z-index: 2;
      position: relative;
    }
  }
  &__img{
    position: relative;
    display: block;
    border-radius: 26px;
    overflow: hidden;
    margin-bottom: 20px;
    &::before{
      content: '';
      padding-top: 70%;
      display: block;
    }
  }

  &__grid{
    padding-bottom: 80px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    .ateliere__post:nth-child(1){
      width: 100%;
      .ateliere__img{
        &::before{
          padding-top: 30%;
        }
      }
    }
  }
}


.atelier{
  &__top{
    position: relative;
  }
  &__banner{
    position: relative;
    overflow: hidden;
    border-radius: 74px;
    margin: 35px 0 70px;
    height: 480px
  }
  &__cost{
    border: 1px solid #707070;
    border-radius: 50px;
    padding: 30px 20px 20px;
    max-width: 220px;
    text-align: center;
    background-color: #fff;
    position: absolute;
    top: -40px;
    left: -70px;
    .title{
      padding: 25px 0 20px;
    }
  }
  .col2__grid{
    padding-bottom: 70px;
  }
  .story__grid{
    margin: 0 auto 80px;
    max-width: initial;
  }

}