.articles{
  &__grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 55px 0;
  }

}


.blog{
  .articles{
    padding-bottom: 60px;
  }
}


.article{
  width: 33.33%;
  padding: 0 8px ;
  &__link{
    display: block;
    height: 100%;
    padding: 15px;
    border: 1px solid #E2E5E9;
    text-align: center;
  }
  &__img{
    position: relative;
    margin-bottom: 20px;
    &::before{
      content: '';
      padding-top: 115%;
      display: block;
    }
  }
  h3{
    color: 2rem;
    color: $dark;
    padding: 14px 10px 25px;
  }
}

.single-post{
  .main-title{
    .title{
      max-width: 900px;
    }
  }
  .articles{
    padding-bottom: 50px;
  }
}


.the-content{
  max-width: 900px;
  margin: 65px auto 50px;
  p{
    margin-bottom: 25px;
  }
  ul, ol{
    padding-left: 20px;
    margin-bottom: 20px;
  }
}

.author{
  font-size: 2rem;
  color: $dark;
}
.share{
  text-align: center;
  color: $dark;
  padding: 50px 0;
  ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    li{
      display: inline-block;
      padding: 0 8px;
    }
    button{
      appearance: none;
      outline: 0;
      background-color: transparent;
      border: 0;
      svg{
        display: block;
      }
    }
  }
}
.single-article{
  background-image: url('../images/contact-right.jpg'), url('../images/contact-left.jpg');
  background-repeat: no-repeat, no-repeat;
  background-position: right -190px top, left -310px bottom ;
  
}
.wp-block-gallery{
  margin-bottom: 20px;
  .blocks-gallery-grid, .wp-block-gallery{
    width: 100%;
  }
}