.page-template-page-campus{

  .campus::after{
    height: 53%;
  }
  .story__banner{
    margin: 0 auto 60px;
  }
  .col2__grid{
    padding-bottom: 60px;
  }
}

.dotari{
  text-align: center;
  &__info{
    max-width: 800px;
    margin: 50px auto 70px;
  }

  &__grid{
    text-align: center;
    padding-bottom: 100px;
    h4{
      font-weight: bold;
      color: $dark;
      font-size: 2rem;
      margin-bottom: 50px;
    }

    &__grid{
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: 23px;
    }
  }
  &__col{
    border-radius: 50px;
    border: 1px solid rgba($color: #707070, $alpha: .5);
    padding: 25px ;
    font-weight: bold;
    color: $dark;
    img{
      display: block;
      margin: 0 auto 15px;
    }
  }

}