.cariera {
  padding-top: 30px;
  &__grid {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: 90px;
    margin-bottom: 150px;
  }
  &__col {
    width: 45%;
    &--1 {
      width: 230px;
      flex: 0 0 auto;
      h4 {
        color: $dark;
        font-size: 2rem;
        margin-top: 20px;
      }
    }
    &--2 {
      width: calc(62% - 230px);
      padding: 0 80px 0 30px;
    }
    &--img {
      width: 38%;
      overflow: hidden;
      border-radius: 26px;
      img {
        display: block;
        width: 100%;
      }
    }

    .btn {
      margin-top: 30px;
    }
  }
}

.cariere,
.profesori {
  padding-bottom: 60px;
  &__grid {
    padding: 50px 0 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__post {
    width: 33.33%;
    padding: 0 8px;
    margin-bottom: 18px;
    a {
      display: block;
      height: 100%;
      padding: 15px;
      border: 1px solid #e2e5e9;
      text-align: center;
      border-radius: 30px;
    }
    h4 {
      font-size: 1.8rem;
      padding: 35px;
      z-index: 2;
      position: relative;
    }
  }
  &__img {
    position: relative;
    display: block;
    border-radius: 26px;
    overflow: hidden;
    &::before {
      content: "";
      padding-top: 70%;
      display: block;
    }
  }
}
.profesori {
  background-image: url("../images/contact-right.jpg"),
    url("../images/contact-left.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: right -190px top, left -310px bottom;
  &__img {
    margin-bottom: 20px;
    &::before {
      padding-top: 100%;
    }
  }
  &__post {
    width: 25%;
    h4 {
      padding: 0 35px;
    }
    p {
      margin: 0;
      font-size: 1.1rem;
      margin-top: 5px;
    }
  }
}

.profesor {
  padding-bottom: 80px;
  background-image: url("../images/contact-right.jpg"),
    url("../images/contact-left.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: right -190px top, left -310px bottom -200px;
  .story__info {
    h2,
    h3 {
      font-size: 4.8rem;
      font-family: $kalam;
      line-height: 1;
      font-weight: 400;
      color: $lightblue;
      margin-bottom: 20px;
    }
    .btn {
      margin-top: 30px;
    }
  }
}
