.cifre{
  background-image: url('../images/reversed2.jpg'), url('../images/reversed.jpg');
  background-repeat: no-repeat, no-repeat  ;
  background-position: left -250px top, right -300px bottom 100px ;
  &__grid{
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
  }
  &__item{
    border-radius: 74px;
    text-align: center;
    color: #fff;
    background-color: $orange;
    padding: 35px 40px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    strong{
      color: #fff;
    }
    .title{
      color: #fff;
      margin: 25px 0 20px;
    } 
  }
  &__bottom{
    text-align: center;
    padding-top: 100px;
  }
}