.cluburi{
  &__offers{
    text-align: center;
    padding: 40px 0;
    a{
      display: inline-flex;
      align-items: center;
      background-color: $magenta;
      padding: 12px 30px;
      border-radius: 30px;
      color: #fff;
      font-weight: bold;
      margin: 8px;
      &:nth-child(2){
        background-color: $orange;
      }
      &:nth-child(3){
        background-color: $green;
      }
      &:nth-child(4){
        background-color: $purple;
      }
      img{
        margin-right: 15px;
      }
    }
  }
  &__terms{
    text-align: center;
    border-top: 1px solid #E2E5E9;
    border-bottom: 1px solid #E2E5E9;
    padding: 25px 15px;
    font-weight: bold;
    font-size: 1.6rem;
    a{
      display: inline-block;
      margin: 0 45px;
      transition: $transition;
      &.active,&:hover{
        color: $magenta;
      }
    }
  }

  &__grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    padding: 60px 0;
  }
}

.club{
  text-align: center;
  border: 1px solid #E2E5E9;
  border-radius: 30px;
  padding: 45px 20px 35px;
  img{
    display: block;
    margin: 0 auto 20px;
  }
  h3{
    font-size: 1.8rem;
    margin-top: 10px;
  }

  
}

.club-single{
  padding-bottom: 70px;
  &__videos{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 50px;
  }
  &__video{
    width: 50%;
    padding: 0 15px;
    text-align: center;
    margin-bottom: 50px;
    h4{
      font-size: 1.8rem;
      margin-top: 20px;
    }
  }
  &__poster{
    position: relative;
    display: block;
    border-radius: 30px;
    overflow: hidden;
    svg{
      position: absolute;
      z-index: 2;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    &::before{
      content: '';
      display: block;
      padding-top: 60%;
    }
  }
}

.single-club{
  .story__banner{
    margin-bottom: 10px;
  }
  .cluburi2{
    padding-bottom: 60px;
  }
}

.page-template-page-prezentare-video{
  .club-single__videos{
    padding: 70px 0 120px;
  }
}