.btn {
  padding: 12px 32px;
  border-radius: 19px;
  background-color: #000;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  font-size: 1.3rem;
  color: #fff;
  transition: $transition;
  text-align: center;
  font-weight: 500;
  svg {
    margin-left: 8px;
    fill: #fff;
    transition: $transition;
  }
  &--border {
    background-color: transparent;
    color: #fff;
    padding: 8px 16px;
    border: 1px solid #fff;
    &:hover {
      background-color: #fff;
      color: $orange;
      svg {
        fill: $orange;
      }
    }
  }
  &--green {
    background-color: $green;
  }
  &--blue {
    background-color: $lightblue;
  }
  &--orange {
    background-color: $orange;
    min-width: 130px;
  }
  &--white {
    background-color: #fff;
    color: $dark;
    min-width: 130px;
  }
  &--purple {
    background-color: $purple;
  }
  &--magenta {
    background-color: $magenta;
  }
}

.subtitle {
  font-weight: bold;
}
.title {
  font-family: $kalam;
  font-size: 6rem;
  font-weight: 400;
  color: $orange;
  line-height: 1;
  &--blue {
    color: $lightblue;
  }
  &--green {
    color: $green;
  }
  &--magenta {
    color: $magenta;
  }
  &--white {
    color: #fff;
  }
  &--red {
    color: $red;
  }
  &--purple {
    color: $purple;
  }
}

.main-title {
  text-align: center;
  .title {
    max-width: 880px;
    margin: 15px auto 0;
  }
  p {
    max-width: 780px;
    margin: 10px auto 0;
    font-size: 1.4rem;
  }
}

.swiper-button-next,
.swiper-button-prev {
  border: 1px solid #fff;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  margin-top: -21px;
  transition: $transition;
  outline: 0;
  &::after {
    font-size: 1.5rem;
    color: #fff;
    transition: $transition;
  }
  &:hover {
    background-color: #fff;
    &::after {
      color: $orange;
    }
  }
}

.page-header {
  background-color: $dark;
  position: relative;
  &::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 130px;
    background-image: url("../images/header.svg");
    background-position: bottom center;
    background-repeat: repeat-x;
    z-index: 3;
  }
  &::after {
    content: "";
    @include cover;
  }
  .container {
    height: 330px;
    display: flex;
    align-items: center;
    padding-top: 25px;
    position: relative;
    z-index: 2;
    img {
      display: block;
      margin-right: 18px;
    }
    .title {
      display: flex;
      align-items: center;
      color: #fff;
      font-size: 6rem;
      line-height: 1;
    }
  }
}

.sections-menu {
  padding: 30px 0 60px;
  ul {
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  li {
    margin: 0 6px;
    display: inline-block;
    a {
      background-color: $lightblue;
      height: 64px;
      border-radius: 50px;
      display: inline-flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: center;
      width: 64px;
      transition: 0.3s ease-in-out;
      &:hover {
        background-color: $orange;
      }
    }
    img {
      display: block;
    }
    span {
      color: #fff;
      font-size: 1.6rem;
      font-weight: bold;
      width: 0;
      overflow: hidden;
    }
    &.current-menu-item {
      a {
        background-color: $orange;
        width: auto;
        padding: 0 30px;
        span {
          width: initial;
          padding: 0 10px;
        }
      }
    }
  }
  ul.about {
    li {
      a {
        background-color: $orange;
      }
      &.current-menu-item a {
        background-color: $green;
      }
    }
  }
  ul.curriculum {
    li {
      a {
        background-color: $green;
      }
      &.current-menu-item a {
        background-color: $lightblue;
      }
    }
  }
  ul.viata {
    li {
      a {
        background-color: $magenta;
      }
      &.current-menu-item a {
        background-color: $orange;
      }
    }
  }
  ul.responsibility {
    li {
      a {
        background-color: $red;
      }
      &.current-menu-item a {
        background-color: $lightblue;
      }
    }
  }
  ul.ateliere {
    li {
      a {
        background-color: $purple;
      }
      &.current-menu-item a {
        background-color: $lightblue;
      }
    }
  }
}

.col2 {
  &__grid {
    display: flex;
    align-items: flex-start;
    padding-top: 60px;
    padding-bottom: 100px;
  }
  &__col {
    &--1 {
      width: 400px;
      flex: 0 0 auto;
      h4 {
        color: $dark;
        font-size: 2rem;
        margin-top: 20px;
      }
    }
    &--2 {
      width: calc(100% - 400px);
      padding: 45px 0 0 60px;
      ul {
        list-style: none;
        padding-top: 30px;
        padding-left: 90px;
        li {
          position: relative;
          margin-bottom: 50px;
          &::before {
            content: url("../images/green-arrow.svg");
            position: absolute;
            left: -90px;
            bottom: 0;
          }
          &:nth-child(even) {
            &:before {
              content: url("../images/orange-arrow.svg");
            }
          }
        }
      }
      .btn {
        margin-top: 35px;
      }
    }
  }
}
.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 20px;
}
.swiper-pagination-bullet {
  background-color: #fff;
  opacity: 1;
  &-active {
    background-color: $orange;
  }
}

.page-404 {
  text-align: center;
  &::before {
    content: "";
    padding-top: 250px;
    display: block;
    background-color: $purple;
  }
  .container {
    padding-top: 150px;
    padding-bottom: 150px;
  }
  .title {
    max-width: 600px;
    margin: 0 auto 20px;
  }
}
