.contact{
  background-image: url('../images/contact-right.jpg'), url('../images/contact-left.jpg');
  background-repeat: no-repeat, no-repeat;
  background-position: right -190px top, left -310px bottom ;
  padding-bottom: 60px;
  &__grid{  
    display: flex;
    margin: 70px 0 90px;
  }
  &__col{
    width: 33.33%;
    display: flex;
    align-items: center;
    padding: 50px 45px;
    border: 1px solid #E2E5E9;
    margin-left: -1px;
    img{
      flex: 0 0 auto;
      margin-right: 20px;
    }
    a{
      display: block;
      &:hover{
        text-decoration: underline;
        color: $orange;
      }
    }
    p{
      margin-bottom: 5px;
    }
    h4{
      font-size: 2rem;
      color: $dark;
      margin-bottom: 8px;
    }
  }

  &__cta{
    border-top: 1px solid #E2E5E9;
    border-bottom: 1px solid #E2E5E9;
    .container{
      display: flex;
    }
    &__link{
      text-align: center;
      width: 50%;
      padding: 50px 0;
      &:first-of-type{
        border-right: 1px solid #E2E5E9;
      }
      img{
        display: block;
        margin: 0 auto 30px;
      }
      h4{
        color: $dark;
        font-size: 2rem;
      }
      p{
        max-width: 480px;
        margin: 20px auto 35px;
      }
    }
  }
}

#map{
  height: 500px;
  border-radius: 68px;
  background-color: #f2f2f2;
  margin: 60px 0 0;
  overflow: hidden;
  iframe{
    width: 100%;
    height: 100%;
  }
}