.curriculum{
  &__top{
   display: flex;
   padding: 70px 0;
  }
  &__col{
    width: 50%;
    padding-right: 30px;
    &:last-of-type{
      padding-left: 30px;
      padding-right: initial;
    }
    h4{
      color: $dark;
      font-size: 2rem;
      margin: 30px 0;
    }
  }
  .col2__grid{
    padding-bottom: 50px;
  }
  &__banner{
    text-align: center;
    img{
      margin: 60px 0 90px;
      display: block;
      width: 100%;
    }
  }
  &__bottom{
    text-align: center;
    padding-bottom: 80px;
    &__info{
      max-width: 980px;
      margin-left: auto;
      margin-right: auto;
    }
    .title{
      margin-bottom: 50px;
    }
  }
}

.orange-line{
  height: 100%;
  height: 215px;
  background-color: $orange;
  position: relative;
}