.facilities{
  &__list{
    margin-top: 80px;
    .facilities__row{
      &:nth-child(even){
        flex-direction: row-reverse;
        .facilities__col--2{
          padding-left: initial;
          padding-right: 70px;
        }
      }
    }
  }
  &__row{
    display: flex;
    margin-bottom: 80px;
  }
  &__banner{
    position: relative;
    overflow: hidden;
    border-radius: 26px;
    height: 480px;
    margin-bottom: 45px;
  }
  &__col{
    &--1{
      width: 200px;
      .title{
        font-size: 4.8rem;
        margin-top: 25px;
      }
    }
    &--2{
      flex: 1;
      padding-left: 70px;
      ul, ol{
        padding-left: 20px;
      }
    }
  }
}