.filozofie{
  padding-bottom: 60px;
  background-image: url('../images/reversed2.jpg');
  background-repeat: no-repeat  ;
  background-position: left -250px top ;
  &__info{
    text-align: center;
    max-width: 700px;
    margin: 80px auto 70px;
    .title{
      margin-bottom: 30px;
    }
  }
  &__boxes{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    text-align: center;
  }
  &__box{
    border-radius: 74px;
    padding: 40px 30px;
    color: #fff;
    background-color: $orange;
    &:nth-child(2){
      background-color: #29A4DC;
    }
    .title{
      margin-bottom: 25px;
    }
    p{
      max-width: 360px;
      margin:  0 auto;
    }
  }
}

.filozofie2{
  padding-bottom: 160px;
  background-image: url('../images/reversed.jpg');
  background-repeat: no-repeat;
  background-position: right -300px bottom -50px;
  &__grid{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    flex-wrap: wrap;
  }
  &__col{
    width: 33.33%;
    padding: 8px;
    &__inner{
      position: relative;
      background-color: #F8F8F8;
      border-radius: 74px;
      overflow: hidden;
      padding: 45px 35px;
      text-align: center;
      height: 100%;
    }
    h4{
      color: $dark;
      font-size: 2rem;
      margin: 30px 0 20px;
    }
  }
}