.footer {
  background-color: $orange;
  padding-top: 130px;
  background-image: url("../images/footer-bg.svg");
  background-position: top center;
  background-repeat: repeat-x;

  &__quote {
    text-align: center;
    color: #fff;
    padding: 20px 0;
    cite {
      font-style: normal;
      font-size: 1.4rem;
    }
    p {
      font-size: 5rem;
      line-height: 1.2;
      font-family: $kalam;
      max-width: 974px;
      margin: 0 auto 15px;
    }
  }

  &__container {
    display: flex;
    margin-top: 50px;
  }
  &__col {
    width: 35%;
    text-align: center;
    color: #fff;
    font-size: 1.4rem;
    line-height: 1.6;
    &:nth-child(1) {
      p {
        max-width: 235px;
        margin: 0 auto;
      }
    }
    h3 {
      font-size: 1.6rem;
      margin-bottom: 40px;
      font-weight: bold;
    }
    ul {
      list-style: none;
      li {
        font-size: 1.4rem;
      }
    }
    form {
      display: block;
      max-width: 200px;
      margin: 0 auto 50px;
      input {
        display: block;
        width: 100%;
        margin-bottom: 8px;
        padding: 7px 10px;
        font-size: 1.4rem;
        line-height: 1;
        border: 0;
        &[type="submit"] {
          background-color: $blue;
          color: #fff;
        }
      }
    }
  }
  &__logo {
    img {
      display: block;
      margin: 0 auto 40px;
    }
  }
  .copy {
    text-align: center;
    font-size: 1.2rem;
    padding: 100px 0 40px;
    color: #fff;
    a:hover {
      text-decoration: underline;
    }
  }
}
