.form{
  &__row{
    display: flex;
    flex-wrap: wrap;
  }
  &__col{
    width: 100%;
    margin-bottom: 12px;
    @media ( min-width: 600px ) {
      width: 50%;
      padding: 0 10px;
      margin-bottom: 22px;
    }
    &--full{
      width: 100%;
    }
  }

}



.wpcf7{
  max-width: 1050px;
  margin: 70px auto;
  &-text, &-textarea, select{
    appearance: none;
    display: block;
    background-color: transparent;
    width: 100%;
    border: 1px solid rgba($color: #707070, $alpha: .5);
    padding: 15px;
    font-size: 1.4rem;
    font-family: $helvetica;
    outline: 0;
    border-radius: 17px;
    &::placeholder{
      color: $text;
    }
  }
  select{
    background-image: url('../images/select.svg');
    background-position: right 15px center;
    background-repeat: no-repeat;

  }
  h4{
    color: $dark;
    text-align: center;
    padding: 40px 0;
  }
  label{
    font-weight: 400;
    display: block;
    margin-bottom: 15px;
  }
  &-textarea{
    height: 180px;
    resize: none;
  }
  &-submit{
    @extend .btn;
    border: 0;
    background-color: $orange;
    display: block;
    margin: 50px auto 0;
  }
}


span.wpcf7-not-valid-tip{
  display: none;

}
span.wpcf7-list-item:first-of-type{
  margin: 0;
}
.wpcf7-form-control.wpcf7-not-valid{
  border-color: red !important;

}

.wpcf7 form div.wpcf7-response-output{
  border: none;
  text-align: center;
  max-width: 95%;
  margin: 10px auto;
  font-size: 12px;
  line-height: 14px;
  color: #fff;
}


div.wpcf7-validation-errors{
  color: red;
}
div.wpcf7 .ajax-loader{
  display: block;
  margin: 4px auto;
}


.labels{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
  margin-bottom: 25px;
  &--text{
    margin-bottom: 40px;
    span{
      text-align: center;
      background-color: $lightblue;
      color: #fff;
      border-radius: 17px;
      padding: 15px;
    }
  }
}