.galerii{
  &__grid{
    padding: 60px 0;
    display: flex;
    flex-wrap: wrap;
  }
  &__col{
    width: 33.33%;
    padding: 0 8px ;
    margin-bottom: 18px;
    a{
      display: block;
      height: 100%;
      padding: 15px;
      border: 1px solid #E2E5E9;
      text-align: center;
      border-radius: 30px;
    }
    h4{
      font-size: 1.8rem;
      padding: 35px  ;
      z-index: 2;
      position: relative;
    }
  }
  &__img{
    position: relative;
    display: block;
    border-radius: 26px;
    overflow: hidden;
    &::before{
      content: '';
      padding-top: 70%;
      display: block;
    }
  }
}

.small-gallery{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding: 70px 0 100px;
  a{
    display: block;
    border-radius: 26px;
    overflow: hidden;
    position: relative;
    &::before{
      content: '';
      display: block;
      padding-top: 80%;
    }
  }
}

.single-gallery{
  .galerii{
    padding-bottom: 80px;
  }
}