*, *:after, *:before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



::selection{
  background: #000;
  color: #fff;
}


:root{
  font-size: 62.5%;
}

section{position: relative}



body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  font-size: 1.4rem;
  line-height: 1.42;
  font-family: $helvetica;
  color: $text;
}
a{
  text-decoration: none;
  color: inherit;
}

p{
  margin-bottom: 15px;
  strong{
    color: $dark;
  }
}

img{
  max-width: 100%;
  height: auto;
}


iframe{
  max-width: 100%;
}

#wrapper{
  overflow: hidden;
}


.cover{
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}


.text-center, .center{
  text-align: center
}
.text-right{
  text-align: right
}


[id]{
  outline: 0;
}



.container{
  margin-right: auto;
  margin-left: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  position: relative;
  @media (min-width: 768px){width: 750px}
  @media (min-width: 992px){width: 970px;}
  @media (min-width: 1200px){width: 1175px;}
  @media (min-width: 1280px){width: 1250px;}
}



table{ border-collapse: collapse; }
