.header{
  position: absolute;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 50px 0;
  z-index: 999;
  &__logo{
    position: absolute;
    left: 50%;
    top: 30px;
    transform: translateX(-50%);
  }
  &__left{
    display: flex;
    align-items: center;
    
  }
 
  &__nav{
    ul{
      list-style: none;
      li{
        display: inline-block;
        color: #fff;
        font-size: 1.2rem;
        line-height: 1;
        margin-right: 35px;
        position: relative;
        > a{
          transition: $transition;
          &:hover{
            color: $orange;
          }
        }
      }
      .menu-item-has-children{
        svg{
          fill: #fff;
          display: inline;
          margin-left: 8px;
          width: 7.57px ;
          height: 6.812px;
          transform: translateY(-1px);
          transition: $transition;
        }
        &:hover{
          > a{
            color: $orange;
          }
          svg{
            fill: $orange;
          }
          .sub-menu{
            opacity: 1;
            pointer-events: initial;
            // transform: translateX(-50%);
          }
        }
      }
    }
    .sub-menu{
      position: absolute;
      top: 34px;
      left: 50%;
      left: -10px;
      background-color: #fff;
      box-shadow: 0 3px 6px rgba($color: #000000, $alpha: .16);
      pointer-events: none;
      opacity: 0;
      transition: .3s ease-in-out;
      transform: rotateX(-15deg);
      width: 200px;
      border-radius: 15px;
      padding: 10px 0;
      transition: $transition;
      &::after{
        content: '';
        position: absolute;
        left: 0;
        top: -22px;
        width: 100%;
        height: 30px;
      }
      &::before{
        content: '';
        position: absolute;
        top: -6px;
        left: 30px;
        width: 12px;
        height: 12px;
        border-radius: 3px 0 0 0;
        background-color: #fff;
        z-index: 2;
        transform:  rotate(45deg)
      }
      li{
        display: block;
        font-size: 1.2rem;
        text-transform: none;
        font-weight: 400;
        white-space: nowrap;
        margin: 0;
        color: $dark;
        a{
          display: block;
          padding: 5px 20px;
          text-transform: uppercase;
          font-weight: bold;
        }
      }
    }  
  }
  &__right{
    display: flex;
    align-items: center;
    .btn{
      font-weight: 500;
      padding: 9px 16px;
      &--green{
        margin-left: 10px;
      }
    }
  }
  &__link{
    margin-left: 20px;
    svg{
      display: block;
      fill: #fff;
      transition: $transition;
    }
    &:hover{
      svg{
        fill: $orange;
      }
    }
  }
}

.burger{
  margin-left: 20px;
  appearance: none;
  border: 0;
  background-color: transparent;
  color: $orange;
  font-size: 1.2rem;
  font-weight: 300;
  display: flex;
  align-items: center;
  cursor: pointer;
  &__icon{
    width: 21px;
    cursor: pointer;
    display: block;
    margin-right: 8px;
    span{
      display: block;
      width: 100%;
      height: 2px;
      border-radius: 2px;
      background-color: $orange;
      margin-bottom: 5px;
      transition: all .3s ease-in-out;
      &:last-of-type{
        margin-bottom: 0;
        width: 90%;
      }
      &:first-of-type{
        width: 80%;
      }
        
    }
  }
  &:hover{
    .burger__icon{
      span{
        width: 100%;
      }
    }
  }
}