.hero {
  background-color: #000;
  &::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 130px;
    // background-image: url("../images/band.svg");
    background-position: bottom center;
    background-repeat: repeat-x;
    z-index: 3;
  }
  &__slider {
    .container {
      height: 750px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      color: #fff;
      padding-top: 130px;
      padding-bottom: 130px;
    }
  }
  &__title {
    font-family: $kalam;
    font-size: 9.8rem;
    line-height: 0.9;
    @include tracking(-30);
    font-weight: 400;
    opacity: 0;
  }
  &__info {
    p {
      font-size: 2.3rem;
      margin-bottom: 40px;
      opacity: 0;
    }
    .btn {
      opacity: 0;
    }
  }

  &__controls {
    position: absolute;
    bottom: 150px;
    z-index: 3;
    left: 50%;
    transform: translateX(-50%);
  }
  &__pagination {
    font-size: 0;
    display: flex;
    justify-content: center;
    .swiper-pagination-bullet {
      display: inline-block;
      position: relative;
      background-color: #fff;
      height: 4px;
      width: 35px;
      margin: 0 5px;
      @media (min-width: 700px) {
        width: 20%;
        background-color: transparent;
        height: auto;
        padding: 0 15px;
        margin: 0;
      }
      border-radius: 0;
      opacity: 1;
      transform: translateY(-10px);
      outline: 0;
      &-active {
        background-color: $orange;
        @media (min-width: 700px) {
          background-color: transparent;
        }
        .progress--fill {
          animation-name: width;
          animation-duration: 5.5s;
          animation-fill-mode: both;
        }
      }
      @media (min-width: 700px) {
        .progress {
          display: block;
          height: 1px;
          width: 100%;
          background-color: #fff;
          position: relative;
          &--fill {
            position: absolute;
            left: 0;
            height: 3px;
            width: 0;
            top: -1px;
            background-color: #fff;
          }
        }
      }
      .hero__bullet__title {
        font-size: 1.2rem;
        margin-bottom: 12px;
        line-height: 1;
        color: #fff;
        display: none;
        @media (min-width: 700px) {
          display: block;
        }
      }
    }
  }

  .swiper-slide-active {
    .hero__title,
    .hero__info p,
    .hero__info .btn {
      animation-name: fadeInDown;
      animation-duration: 1s;
      animation-fill-mode: both;
      animation-delay: 0.3s;
    }
    .hero__info {
      p {
        opacity: 1;
        animation-delay: 0.5s;
      }
      .btn {
        opacity: 1;
        animation-delay: 0.7s;
      }
    }
  }
  &__scroll {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    z-index: 4;
  }
}

@media (min-width: 700px) {
  .swiper-container-initialized .swiper-pagination-bullet-active {
    .progress--fill {
      animation-name: width;
      animation-duration: 5.5s;
      animation-fill-mode: both;
    }
  }
}

.philosophy {
  padding-top: 20px;
  background-image: url("../images/filo.png");
  background-position: right bottom;
  @media (min-width: 1600px) {
    background-position: right 250px bottom;
  }
  background-repeat: no-repeat;
  background-size: auto 100%;
  &__info {
    max-width: 610px;
    padding-top: 100px;
    h4 {
      color: #000;
      font-size: 2rem;
      margin-bottom: 20px;
      line-height: 1.4;
    }
    .btn {
      margin-top: 35px;
    }
  }

  &__quote {
    display: block;
    padding: 125px 0;
    p {
      font-family: $kalam;
      font-size: 5.3rem;
      color: $green;
      line-height: 1;
    }
    cite {
      display: block;
      font-style: normal;
    }
  }
}

.campus {
  padding: 60px 0 190px;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
    background-color: $orange;
    background-image: url("../images/campus.png");
    background-position: center center;
    background-size: cover;
    height: 65%;
    z-index: -1;
  }
  &::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 130px;
    background-image: url("../images/band.svg");
    background-position: bottom center;
    background-repeat: repeat-x;
    z-index: 3;
  }
  .main-title {
    .title {
      color: $purple;
      max-width: 900px;
    }
  }

  &__grid {
    display: flex;
    max-width: 1440px;
    margin: 60px auto 0;
  }
  &__col {
    img {
      display: block;
      margin-bottom: 30px;
    }
    &--1 {
      width: 33.33%;
      padding-right: 15px;
    }
    &--2 {
      width: 16.66%;
      padding: 186px 15px 0;
    }
    &--3 {
      width: 22%;
      padding: 60px 15px 0;
    }
    &--4 {
      width: 28%;
      padding-left: 15px;
    }
  }

  &__bottom {
    max-width: 670px;
    margin: 60px auto 0;
    text-align: center;
    color: #fff;
  }
}

.prof {
  background-image: url("../images/profesori.png");
  background-position: right top;
  background-repeat: no-repeat;
  background-size: auto 100%;
  .main-title {
    .title {
      color: $green;
      max-width: 600px;
    }
  }
  &__info {
    max-width: 900px;
    display: flex;
    margin-top: 50px;
    > div {
      width: 50%;
      padding: 0 40px;
    }
  }
  &__img {
    text-align: center;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: calc(100% - 80px);
      left: -20px;
      top: -50px;
      background-color: #eeeeee;
      height: calc(100% - 120px);
    }
    img {
      position: relative;
      display: block;
      z-index: 5;
    }
    .title {
      font-size: 4.2rem;
      color: $green;
      margin: 50px 0 5px;
    }
  }
  &__text {
    h4 {
      color: #000;
      font-size: 1.8rem;
      margin: 50px 0 35px;
      line-height: 1.4;
    }
    &__btns {
      display: flex;
      margin-top: 35px;
      a {
        min-width: initial;
        padding: 9px 20px;
        &:not(:last-of-type) {
          margin-right: 15px;
        }
      }
    }
  }

  &__links {
    display: flex;
    margin: 100px 0 80px;
  }
  &__link {
    width: 33.33%;
    padding: 0 5px;
    a {
      display: block;
      height: 100%;
      position: relative;
      &::before {
        content: "";
        display: block;
        padding-top: 130%;
      }
      &::after {
        content: "";
        @include cover;
        opacity: 0;
        transition: $transition;
      }
      &:hover {
        &::after {
          opacity: 1;
        }
      }
    }
    .title {
      color: #fff;
      font-size: 5.8rem;
      line-height: 1;
      position: absolute;
      left: 0;
      width: 100%;
      bottom: 40px;
      text-align: center;
      padding: 0 40px;
      z-index: 3;
    }
  }
}

.banner {
  position: relative;
  &::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 130px;
    background-image: url("../images/band.svg");
    background-position: bottom center;
    background-repeat: repeat-x;
    z-index: 3;
  }
  &::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 130px;
    background-image: url("../images/band-reverse.svg");
    background-position: bottom center;
    background-repeat: repeat-x;
    z-index: 3;
  }
  .title {
    color: #fff;
    margin: 15px 0 0;
    font-size: 6rem;
    line-height: 1;
  }
  .container {
    height: 730px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
  }

  .swiper-button-next,
  .swiper-button-prev {
    margin-top: initial;
    transform: none;
    bottom: 160px;
    top: initial;
  }
  .swiper-button-next {
    right: calc(50% - 50px);
  }
  .swiper-button-prev {
    left: calc(50% - 50px);
  }
}

.boxlink {
  padding: 120px 0 80px;
  &__col {
    width: 370px;
    height: 370px;
    display: flex;
    text-align: center;
    align-items: center;
    font-family: $kalam;
    color: #fff;
    justify-content: center;
    font-size: 5.6rem;
    line-height: 1;
    background-color: $green;
    padding: 30px 40px;
    &:nth-child(2) {
      margin-left: 335px;
      margin-top: -86px;
      background-color: $orange;
    }
    &:nth-child(3) {
      background-color: $blue;
      margin-top: -35px;
      margin-left: 77px;
    }
  }
}

.partners {
  padding-top: 80px;
  padding-bottom: 55px;
  .main-title {
    margin-bottom: 60px;
    .title {
      color: $green;
    }
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
  }
}
