
.overlay-menu{
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 99;
  background-color: $dark;
  display: none;
  &::after{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 35px;
    width: 100%;
    height: 130px;
    background-image: url('../images/band.svg');
    background-position: bottom center;
    background-repeat: repeat-x;
    z-index: 3;
  }
  &__logo{
    position: absolute;
    left: 40px;
    top: 30px;
  }
  .container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: initial;
  
  }
}
.overlay-menu__terms{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 13px 15px 20px;
  z-index: 4;
  background-color: #fff;
  ul{
    list-style: none;
    li{
      display: inline-block;
      padding: 0 10px;
      font-size: 1.6rem;
      color: $dark;
    }
  }
}
.overlay-menu__menu{
  position: relative;
  z-index: 3;
  list-style: none;
  > li {
    font-size: 3.6rem;
    color: #fff;
    font-weight: bold;
  }

  .menu-item-has-children{
    svg{
      fill: #fff;
      width: 12.384px ;
      height: 11.142px;
      transform: translateY(-3px);
    }
    &.active{
      > a{
        color: $orange;
       
      }
      > svg{
        fill: $orange;
      }
      .sub-menu{
        display: block;
      }
    }
  }
  .sub-menu{
    display: none;
    list-style: none;
    li{
      font-size: 1.6rem;
      font-weight: 400;
    }
  }
}

.show-menu{
  .header{
    justify-content: flex-end;
    position: fixed;
    width: 100%;
    &__left, &__logo{
      display: none;
    }
  }
  .burger{
    &__icon{
      span{
        transform-origin: center center;
        width: 100%;
        &:last-of-type{
            transform: translateY(-7px) rotate(-45deg)
        }
        &:nth-child(2){
          opacity: 0
        }
        &:nth-child(1){
          transform: translateY(7px) rotate(45deg)
        }
      }
    }
  }
}
