.parteneri{

  &__grid{
    display: flex;
    justify-content: center;
    padding: 90px 0;
  }
  
}

.partener--item{
  display: block;
  width: 25%;
  border: 1px solid rgba($color: #707070, $alpha: .5);
  padding: 30px;
  border-radius: 20px;
  img{
    display: block;
    margin:  0 auto
  }
}

.partener-single{
  .story__banner{
    margin-bottom: 10px;
  }

  .col2__grid{
    .col2__col--1{
      text-align: center;
    }
  }
}