.prezentare{
  background-image: url('../images/contact-left.jpg'), url('../images/contact-right.jpg');
  background-repeat: no-repeat,  no-repeat  ;
  background-position: left -160px top 500px, right -20px top  ;

  &__slider{
    padding: 70px 0;
    .swiper-slide{
      width: 70%;
      display: block;
      position: relative;
      overflow: hidden;
      border-radius: 70px;
      &:before{
        content: '';
        display: block;
        padding-top: 56%;
      }
    }
  }

}


.competences{
  display: flex;
  flex-wrap: wrap;
  padding: 70px 0;
}
.competence{
  width: 25%;
  padding: 15px;
  span{
    border: 1px solid rgba($color: #CBCBCB, $alpha: .5);
    display: block;
    padding: 30px;
    background-color: #fff;
    border-radius: 28px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.8rem;
    color: $dark;
    font-weight: bold;
  }
}

