.charitable {
  &__grid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 80px 0 100px;
  }
  &__col {
    width: 50%;
    padding: 0 25px;
    img {
      border-radius: 55px;
      display: block;
      width: 100%;
    }
    h4 {
      font-weight: bold;
      font-size: 2rem;
      margin-bottom: 23px;
      color: $orange;
    }
    .philosophy__quote {
      text-align: center;
      max-width: 440px;
      margin: 0 auto;
      padding: 0;
    }
    &--1 {
      padding: 0 50px 50px 50px;
      p {
        max-width: 460px;
      }
    }
    &--3 {
      img {
        transform: translateY(-80px);
      }
    }
    &--4 {
      padding-bottom: 80px;
    }
  }

  &__gallery {
    text-align: center;
  }
}

.practices {
  &__grid {
    padding-top: 70px;
    .practices__row {
      &:nth-child(even) {
        flex-direction: row-reverse;
        .practices__info {
          padding-left: 100px;
          padding-right: initial;
        }
      }
      &:nth-child(1) {
        h4 {
          color: $green;
          &::before {
            content: "I";
          }
        }
      }
      &:nth-child(2) {
        h4 {
          color: $green;
          &::before {
            content: "II";
          }
        }
      }
      &:nth-child(3) {
        h4 {
          color: $lightblue;
          &::before {
            content: "III";
          }
        }
      }
    }
  }
  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 90px;
  }
  &__img {
    width: 55%;
    position: relative;
    overflow: hidden;
    border-radius: 55px;
    .swiper-slide {
      display: block;
      &::before {
        content: "";
        display: block;
        padding-top: 100%;
      }
    }
  }
  &__info {
    width: 45%;
    padding-right: 100px;
    h4 {
      font-size: 2.4rem;
      margin-bottom: 20px;
      color: $orange;
      position: relative;
      &::before {
        font-family: $kalam;
        color: rgba($color: #e2e5e9, $alpha: 0.5);
        font-size: 17rem;
        line-height: 1;
        position: absolute;
        left: -30px;
        top: -60px;
        z-index: -1;
      }
    }
    ul {
      list-style: none;
      padding-top: 30px;
      padding-left: 90px;
      li {
        position: relative;
        margin-bottom: 50px;
        &::before {
          content: url("../images/green-arrow.svg");
          position: absolute;
          left: -90px;
          bottom: 0;
        }
        &:nth-child(even) {
          &:before {
            content: url("../images/orange-arrow.svg");
          }
        }
      }
    }
  }
}
