.archive.woocommerce-shop,
.single-product {
  .main-title {
    padding: 0 0 50px;
  }
}

//product list

.image-wrap {
  display: block;
  position: relative;
  overflow: hidden;
  border-radius: 26px;
  img {
    @include img-abs;
  }
  &::before {
    content: "";
    display: block;
    padding-top: 100%;
  }
}

//product
.related {
  clear: both;
  padding-top: 100px;
  padding-bottom: 50px;
  ul.products {
    display: flex;
    justify-content: center;
  }
}

.product_meta {
  margin-bottom: 20px;
  .sku_wrapper {
    display: none;
  }
  > span {
    display: block;
  }
}

.woocommerce-checkout,
.woocommerce-cart,
.woocommerce-account {
  .the-content {
    max-width: initial;
    p {
      margin-bottom: 15px;
    }
    .title {
      font-family: $helvetica;
      color: $dark;
      font-size: 1.4rem;
      margin-bottom: 10px;
    }
  }
}

//checkout

.woocommerce-checkout {
  h3 {
    color: $dark;
    font-size: 2rem;
  }
}

.woocommerce-terms-and-conditions-link {
  text-decoration: underline;
}

#place_order {
  width: 100%;
  padding: 15px 15px;
}

.payment_method--label {
  display: block;
  margin-bottom: 10px;
  cursor: pointer;
  svg {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    opacity: 0.2;
  }
  span {
    display: flex;
    align-items: center;
    background-color: darken(#f2f2f2, 5%);
    padding: 5px 10px;
    border-radius: 5px;
    font-family: 500;
  }
  input {
    display: none !important;
  }

  input:checked ~ span {
    background-color: $orange;
    color: #fff;
    svg {
      fill: #fff;
      opacity: 1;
    }
  }
}

//myaccount

#customer_login {
  .login-col,
  .register-col {
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
    box-shadow: 0 0 20px 0 rgba($color: #000, $alpha: 0.2);
    border: 1px solid #f2f2f2;
    padding: 40px 0 0;
    @media (min-width: 500px) {
      padding: 30px 20px 0;
    }
    border-radius: 20px;
    form {
      border-width: 0;
    }
    h2 {
      text-align: center;
      color: $dark;
      font-size: 2.4rem;
    }
    .lost_password {
      text-align: center;
      padding-top: 30px;
    }
    .woocommerce-form-login__rememberme {
      transform: translateY(5px);
    }
  }
  .register-col {
    display: none;
  }
  .woocommerce-form-register__submit {
    display: flex;
    margin: 0 auto;
  }
  &.toggle-the-logins {
    .register-col {
      display: block;
    }
    .login-col {
      display: none;
    }
  }
  .woocommerce-privacy-policy-text {
    margin-bottom: 20px;
    font-size: 1.2rem;
    a {
      color: $text;
      text-decoration: underline;
      transition: 0.3s ease-in-out;
      &:hover {
        color: $orange;
      }
    }
  }
}

.register-toggle {
  text-align: center;
  display: block;
  margin-top: 40px;
  cursor: pointer;
  color: $text;
  transition: 0.3s ease-in-out;
  &:hover {
    color: $orange;
  }
}

body.woocommerce-lost-password {
  .woocommerce-ResetPassword {
    max-width: 550px;
    margin: 0 auto;
    padding: 0 15px;
    text-align: center;
    .form-row {
      width: 100%;
      margin: 0 auto 10px;
    }
  }
}

fieldset {
  padding: 30px;
  border-radius: 30px;
  border: 1px solid rgba($color: #707070, $alpha: 0.5);
  margin-bottom: 30px;
  legend {
    padding: 0 15px;
  }
}
.woocommerce-Address {
  margin-bottom: 20px;
}

.woocommerce-order-details {
  .woocommerce-order-details__title {
    font-size: 2rem;
    color: $dark;
  }
}

.woocommerce-thankyou-order-received {
  font-family: $kalam;
  font-size: 3rem;
  color: $orange;
  font-weight: 400;
}
