.story{
  background-image: url('../images/contact-left.jpg'), url('../images/reversed.jpg');
  background-repeat: no-repeat, no-repeat;
  background-position: left -310px bottom , right -310px bottom -200px;
  .main-title{
    p{
      max-width: 550px;
    }
  }
  &__grid{
    display: flex;
    max-width: 1100px;
    margin: 80px auto 0;
  }
  &__img{
    width: 415px;
    flex: 0 0 auto;
    text-align: center;
    img{
      display: block;
      width: 100%;
      border-radius: 74px;
      margin-bottom: 34px;
    }
    h4{
      color: $dark;
      font-size: 2rem;
      margin-bottom: 7px;
    }
  }
  &__info{
    flex: 1;
    padding-left: 60px;
    .title{
      font-size: 4rem;
      margin-bottom: 30px;
    }
    h4{
      color: $dark;
      font-size: 2rem;
      margin-bottom: 30px;
    }
    ul{
      list-style: none;
      padding-top: 30px;
      padding-left: 90px;
      li{
        position: relative;
        margin-bottom: 50px;
        &::before{
          content: url('../images/green-arrow.svg');;
          position: absolute;
          left: -90px;
          bottom: 0;
        }
        &:nth-child(even){
          &:before{
            content: url('../images/orange-arrow.svg');
          }
        }
      }
    }
  }
  &__banner{
    position: relative;
    overflow: hidden;
    border-radius: 74px;
    margin: 70px 0;
    height: 480px;
  }
  &__bottom{
    text-align: center;
    max-width: 880px;
    margin: 0 auto ;
    padding-bottom: 70px;
  }
}

.mesajul{
  &--1{
    background-image: url('../images/contact-left.jpg');
    background-repeat: no-repeat  ;
    background-position: left -160px bottom ;
  }
  &--2{
    background-image: url('../images/reversed2.jpg');
    background-position: left -20px bottom ;
    background-repeat: no-repeat  ;
    padding-bottom: 100px;
  }
}