.taxe{
  padding-bottom: 100px;
  background-image: url('../images/contact-right.jpg'), url('../images/contact-right.jpg');
  background-repeat: no-repeat, no-repeat;
  background-position: right -250px top, right -250px bottom -440px  ;
  .btn{
    margin-top: 35px;
  }
  &__imgs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    padding: 70px 0;
  }
  &__img{
    border-radius: 74px;
    overflow: hidden;
    position: relative;
    background-color: #f2f2f2;
    &::before{
      content: '';
      display: block;
      padding-top: 65%;
    }
  }

  &__info{
    text-align: center;
  }

  &__steps{
    text-align: center;
    .title{
      margin-bottom: 40px;
    }
    &__grid{
      margin-top: 40px;
      margin-bottom: 50px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

    }
    &__col{
      width: 25%;
      margin-bottom: 30px;
      padding: 0 6px;      
      &__inner{
        border-radius: 30px;
        border: 1px solid #E2E5E9;
        height: 280px;
        padding: 30px;
      }
    }
  }

  &__includes{
    margin-bottom: 85px;
    position: relative;
    &::after{
      content: '';
      width: 580px;
      height: 1200px;
      background-image: url('../images/contact-left.jpg');
      background-repeat: no-repeat;
      background-position: left 30px top 50px ;
      background-size: contain;
      position: absolute;
      left: 0;
      z-index: -1;
      top: 0;
    }
    .container{
      display: flex;
    }
    &__col{
      h4{
        color: $dark;
        font-size: 2rem;
        margin-top: 24px;
      }
      &:first-of-type{
        width: 40%;
        padding-right: 60px;
      }
      &:last-of-type{
        width: 60%;
      }
    }
  }
}