//transition

$transition: all 420ms cubic-bezier(0.165, 0.84, 0.44, 1);
$transition2: all 1s cubic-bezier(0.23, 1, 0.32, 1);

//fonts

$helvetica: "Helvetica Neue";
$kalam: "Kalam";

//colors

$green: #85b744;
$orange: #f2af1d;
$blue: #2c3b87;
$purple: #643283;
$text: #7f7f7f;
$dark: #231f20;
$green: #87b944;
$lightblue: #96cfed;
$magenta: #c34189;
$red: #b7202e;

//MIXINS

@mixin cover {
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.63);
}
.img-abs {
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  user-select: none;
}
@mixin img-abs {
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  user-select: none;
}

@function tracking($target) {
  @return ($target / 1000) * 1em;
}

@mixin tracking($target) {
  letter-spacing: tracking($target);
}

// Mixin itself
@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}
