/**
 * woocommerce-layout.scss
 * Applies layout to the default WooCommerce frontend design
 */

/**
 * Imports
 */
@import "mixins";
@import "variables";

/**
 * Styling begins
 */
.woocommerce,
.woocommerce-page {
  .woocommerce-message,
  .woocommerce-error,
  .woocommerce-info {
    .button {
      float: right;
    }
  }

  /**
	 * General layout styles
	 */
  .col2-set {
    @include clearfix();
    width: 100%;

    .col-1 {
      float: left;
      width: 48%;
    }

    .col-2 {
      float: right;
      width: 48%;
    }
  }

  /**
	 * Product page
	 */
  div.product,
  #content div.product {
    div.images {
      float: left;
      width: 48%;
    }

    div.thumbnails {
      @include clearfix();

      a {
        float: left;
        width: 30.75%;
        margin-right: 3.8%;
        margin-bottom: 1em;
      }

      a.last {
        margin-right: 0;
      }

      a.first {
        clear: both;
      }

      &.columns-1 {
        a {
          width: 100%;
          margin-right: 0;
          float: none;
        }
      }

      &.columns-2 {
        a {
          width: 48%;
        }
      }

      &.columns-4 {
        a {
          width: 22.05%;
        }
      }

      &.columns-5 {
        a {
          width: 16.9%;
        }
      }
    }

    div.summary {
      float: right;
      width: 48%;
      clear: none;
    }

    .woocommerce-tabs {
      clear: both;

      ul.tabs {
        @include menu();
      }
    }

    #reviews {
      .comment {
        @include mediaright();
      }
    }
  }

  /**
	 * Product loops
	 */
  ul.products {
    clear: both;

    @include clearfix();

    li.product {
      float: left;
      margin: 0 3.8% 2.992em 0;
      padding: 0;
      position: relative;
      width: 22.05%;
      margin-left: 0;
    }

    li.first {
      clear: both;
    }

    li.last {
      margin-right: 0;
    }
  }

  ul.products {
    &.columns-1 {
      li.product {
        width: 100%;
        margin-right: 0;
      }
    }

    &.columns-2 {
      li.product {
        width: 48%;
      }
    }

    &.columns-3 {
      li.product {
        width: 30.75%;
      }
    }

    &.columns-5 {
      li.product {
        width: 16.95%;
      }
    }

    &.columns-6 {
      li.product {
        width: 13.5%;
      }
    }
  }

  &.columns-1 {
    ul.products {
      li.product {
        width: 100%;
        margin-right: 0;
      }
    }
  }

  &.columns-2 {
    ul.products {
      li.product {
        width: 48%;
      }
    }
  }

  &.columns-3 {
    ul.products {
      li.product {
        width: 30.75%;
      }
    }
  }

  &.columns-5 {
    ul.products {
      li.product {
        width: 16.95%;
      }
    }
  }

  &.columns-6 {
    ul.products {
      li.product {
        width: 13.5%;
      }
    }
  }

  .woocommerce-result-count {
    float: left;
  }

  .woocommerce-ordering {
    float: right;
  }

  .woocommerce-pagination {
    ul.page-numbers {
      @include menu();
    }
  }

  /**
	 * Cart page
	 */
  table.cart,
  #content table.cart {
    img {
      height: auto;
    }

    td.actions {
      text-align: right;

      .input-text {
        width: 80px;
      }

      .coupon {
        float: left;

        label {
          display: none;
        }
      }
    }
  }

  .cart-collaterals {
    @include clearfix();
    width: 100%;

    .related {
      width: 30.75%;
      float: left;
    }

    .cross-sells {
      width: 48%;
      float: left;

      ul.products {
        float: none;

        li {
          width: 48%;
        }
      }
    }

    .shipping_calculator {
      width: 48%;

      @include clearfix();
      clear: right;
      float: right;

      .col2-set {
        .col-1,
        .col-2 {
          width: 47%;
        }
      }
    }

    .cart_totals {
      float: right;
      width: 48%;
      h2 {
        color: $dark;
        font-size: 2rem;
        margin-bottom: 20px;
      }
    }
  }

  /**
	 * Cart sidebar
	 */
  ul.cart_list,
  ul.product_list_widget {
    li {
      @include mediaright();
    }
  }

  /**
	 * Forms
	 */
  form {
    .form-row {
      @include clearfix();

      label {
        display: block;

        &.checkbox {
          display: inline;
        }
      }

      select {
        width: 100%;
      }

      .input-text {
        box-sizing: border-box;
        width: 100%;
      }
    }

    .form-row-first,
    .form-row-last {
      width: 49%;
      overflow: visible;
    }

    .form-row-first {
      float: left;
    }

    .form-row-last {
      float: right;
    }

    .form-row-wide {
      clear: both;
    }

    .password-input {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;

      input[type="password"] {
        padding-right: 2.5rem;
      }

      /* Hide the Edge "reveal password" native button */
      input::-ms-reveal {
        display: none;
      }
    }

    .show-password-input {
      position: absolute;
      right: 0.7em;
      top: 0.7em;
      cursor: pointer;
    }

    .show-password-input::after {
      @include iconafter("\e010"); // Icon styles and glyph
    }

    .show-password-input.display-password::after {
      color: #585858;
    }
  }

  #payment {
    .form-row {
      select {
        width: auto;
      }
    }

    .wc-terms-and-conditions,
    .terms {
      text-align: left;
      padding: 0 1em 0 0;
      float: left;
    }

    #place_order {
      float: right;
    }
  }

  .woocommerce-billing-fields,
  .woocommerce-shipping-fields {
    @include clearfix();
  }

  .woocommerce-terms-and-conditions {
    margin-bottom: 1.618em;
    padding: 1.618em;
  }

  /**
	 * oEmbeds
	 */
  .woocommerce-oembed {
    position: relative;
  }
}

.woocommerce-account {
  .woocommerce-MyAccount-navigation {
    float: left;
    width: 30%;
    ul {
      list-style: none;
      padding: 0;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      @media (min-width: 768px) {
        display: block;
      }
      li {
        font-family: $kalam;
        font-size: 2.2rem;
        margin: 3px 10px;
        @media (min-width: 768px) {
          font-size: 3rem;
          display: block;
          margin: 5px 0;
        }
        color: $dark;
        &.is-active {
          color: $orange;
        }
      }
    }
  }

  .woocommerce-MyAccount-content {
    float: right;
    width: 68%;
  }
}
